In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from bench.spider.interface import SpiderInterface

In [4]:
spider = SpiderInterface()

In [5]:
for x in spider.dev_data[:2]:
    print()
    print(x.text)
    print(x.gold_sql)
    print(x.db_name)

How many singers do we have?
SELECT count(*) FROM singer
concert_singer

What is the total number of singers?
SELECT count(*) FROM singer
concert_singer

In [6]:
x = spider.dev_data[0]
x

In [7]:
x.evaluate(x.gold_sql)

True

In [8]:
x = spider.dev_data[1]
x

In [9]:
x.evaluate("SELECT count(*) FROM singer")

True

In [10]:
print(x.describe())

You are a coding assistant helping an analyst answer questions over business data in SQL.
More specifically, the analyst provides you a database schema
(tables in the database along with their column names and types)
and asks a question about the data that can be solved by issuing a SQL query to the database.
In response, you write the SQL statement that answers the question.
You do not provide any commentary or explanation of what the code does,
just the SQL statement ending in a semicolon.

Here is a database schema:

stadium
* Stadium_ID (number): stadium id
* Location (text): location
* Name (text): name
* Capacity (number): capacity
* Highest (number): highest
* Lowest (number): lowest
* Average (number): average

singer
* Singer_ID (number): singer id
* Name (text): name
* Country (text): country
* Song_Name (text): song name
* Song_release_year (text): song release year
* Age (number): age
* Is_male (others): is male

concert
* concert_ID (number): concert id
* concert_Name (text): concert name
* Theme (text): theme
* Stadium_ID (text): stadium id
* Year (text): year

singer_in_concert
* concert_ID (number): concert id
* Singer_ID (text): singer id

Please write me a SQL statement that answers the following question: What is the total number of singers?

Remember, DO NOT provide any commentary or explanation of what the code does, just the SQL statement ending in a semicolon.